@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-bg: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-bg: hsl(0, 0%, 98%);
$dark-text-light-el: hsl(0, 0%, 100%);

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 2.1rem 5rem;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.479) 0px 0.1px 5px;
  background-color: $dark-text-light-el;
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
  }
}
.flags {
  position: absolute;
  top: 10rem;
  bottom: 0;
  left: 6rem;
  right: 0;
}
.flag-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  list-style-type: none;
  li {
    width: 20rem;
    height: 22rem;
    box-shadow: rgba(149, 157, 165, 0.418) 0px 8px 24px;
    border-radius: 0.5rem;
    margin-left: 1rem;
  }
  img {
    width: 20rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  h1 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  span {
    font-weight: 300;
  }
  .list-info {
    padding: 1rem 0 0 1.5rem;
  }
}
